#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "passed"
name = "PassED"
description.en = "Share a password with someone securely by generating a single-use URL"
description.fr = "Partagez un mot de passe de façon sécurisée en générant une URL à usage unique"

version = "2025.09.14~ynh1"

maintainers = ["oleole39"]

[upstream]
license = "MPL-2.0"
userdoc = "https://git.1e99.eu/1e99/passed/src/branch/main/README.md#how-it-works"
code = "https://git.1e99.eu/1e99/passed"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "20M"
ram.build = "250M"
ram.runtime = "20M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/passed"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://git.1e99.eu/1e99/passed/archive/27ebba1de4d030a9403c25aa123c4d0f4acf47ee.tar.gz"
    sha256 = "c987b6044a7dff0413a81e8b1e0ade42a715b246e87c490307fceb10bea16083"
    autoupdate.strategy = "latest_forgejo_commit"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    # Use $data_dir to store passwords' decryption keys

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    # $port is passed to the app via an environment variable defined in $install_dir/.env

    [resources.go]
    version = "1.24.2"
